 .bi-cart-fill{
    color: white;
   
    
  }
  .botones{
    width: 30px;
    height: 30px;
  }
 .carrito{
    width: auto;
  }
 .App{
  height:100vh;
 
 }
 .container{
  width: 98%;
  margin: auto;
 }
 .detail{
  margin-top: 3rem;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 }